p {
	font: normal normal normal 18px/1.4em cinzel,serif;
	font-size: 15px/1.3em;
    font-family: sans-serif;
    text-align: justify;
	color: #000000;
	margin: 10px;
}

body {
	background-color: rgb(248,248,248);
	border: 0px;
	padding: 0px;
	margin: 2px;
}

.main_header {
	text-transform: capitalize;
	font: perpetua;
	font-size: 26px;
    font-family: cinzel, serif;
	text-align: center;
	color: #FFFFFF;
}

.content_header {
	text-transform: capitalize;
	font: normal normal normal 18px/1.4em cinzel,serif;
	font-family: cinzel serif;
	font-size: 18px;
	color: #FFFFFF;
}

.main_wrapper {
	margin: 2px;
	border: 2px solid #3B0C05;
	background-color: #3B0C05;
}
.content_wrapper {
	margin: 8px;
	border: 2px solid #3B0C05;
	background-color: #3B0C05;
}