@import url('https://fonts.googleapis.com/css?family=Cinzel');
body {
    background-color: rgb(26, 6, 3);
}


/* special for main-page */

.main-body {
    width: 100%;
}

.lower-border {
    border-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.75pt;
}

.main-container {
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2em;
    margin-bottom: 1em;
}

.main-row1 {
    margin-bottom: 1em;
}

.main-ensino {
    background-color: rgba(59, 12, 5, 1);
    text-align: right;
}

.main-pesquisa {
    background-color: rgba(59, 12, 5, 0.65);
    text-align: right;
}

.main-extensao {
    background-color: rgba(59, 12, 5, 0.30);
    text-align: right;
}

.main-ensino,
.main-pesquisa,
.main-extensao {
    font-size: 1.75em;
    font-family: 'Cinzel', serif;
    color: white;
}

.right-footer {
    font-family: 'Cinzel', serif;
    text-align: justify;
    color: white;
    font-size: 0.75em;
}

.right-footer>p {
    margin-bottom: 0;
}