@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700');
@import url('https://fonts.googleapis.com/css?family=Enriqueta:400,700');

html {
    padding-bottom: 3em;
}

/* special for secondary-page */
.secondary-container {
    padding-right: 100px;
    padding-left: 100px;
}

.secondary-container a,
.general-content a:hover {
    color: black;
    font-weight: bold;
}

.secondary-container .row:nth-child(2) {
    padding-left: 2%;
    padding-right: 2%;
}

.secondary-body {
    background-color: rgb(248, 248, 248);
    font-family: sans-serif;
}

.general-content {
    margin-top: 2em;
}

.general-content p {
    font-family: 'Enriqueta', serif;
    font-weight: normal;
}

.general-content a,
.general-content a:hover {
    font-family: 'Enriqueta', serif;
    color: black;
    font-weight: bold;
}

.cinzel-font,
.cinzel-font p,
.cinzel-font a {
    font-family: 'Cinzel', sans-serif;
}

.small-header {
    text-align: center;
    max-width: 15em;
}

.small-header-flexible {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

/* special for main-page */
.main-body {
    background-color: rgb(26, 6, 3);
}

.lower-border {
    border-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.75pt;
}

.main-container {
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2em;
    margin-bottom: 1em;
}

.main-row1 {
    margin-bottom: 1em;
}

.main-row1>img {
    width: 100%;
}

.main-ensino {
    background-color: rgba(59, 12, 5, 1);
    text-align: right;
}

.main-pesquisa {
    background-color: rgba(59, 12, 5, 0.65);
    text-align: right;
}

.main-extensao {
    background-color: rgba(59, 12, 5, 0.30);
    text-align: right;
}

.main-ensino,
.main-pesquisa,
.main-extensao {
    font-size: 1.75em;
    font-family: 'Cinzel', serif;
    color: white;
}

.main-link,
.main-link:hover {
    color: white;
}

.right-footer {
    font-family: 'Cinzel', serif;
    text-align: justify;
    color: white;
    font-size: 0.75em;
}

.right-footer>p {
    margin-bottom: 0;
}

.common-header {
    margin-bottom: 1em;
}

div p.spaced-p {
    margin-bottom: 1em;
}

.quem-somos-content a,
.quem-somos-content a:hover {
    font-weight: normal;
}

.quem-somos-content h4 {
    font-weight: bold;
    margin-top: 1em;
}