@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700');
@import url('https://fonts.googleapis.com/css?family=Abel');

.other-content {
    margin-top: 2em;;
}

.other-content h3 {
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    font-size: 1.20em;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.other-content p {
    font-family: 'Abel', sans-serif;
    font-size: 1.20em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    margin-left: 1em;
}

.producoes a,
producoes a:hover {
    text-decoration: none;
    text-transform: none;
    font-weight: normal;
}

.producoes strong {
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: underline;
}